<!--notification on some of the action that are performed(when reload page it goes away, thats why they are called tempdata)-->
<!--partial view ussually has '_' before name-->
@if(TempData["success"] != null)
{
    <!--when we are using toastr we need the jquery reference-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>
    <h2>@TempData["success"]</h2>
}
@if(TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error('@TempData["success"]');
    </script>
   @* <h2>@TempData["error"]</h2>*@
}
